#homepageBody {background-image: url("../img/hintergrund_main.jpg"); background-size: cover; color: white; background-repeat: no-repeat; background-color: black; font-family: Verdana, Geneva, Tahoma, sans-serif;}
#rainbowBackground {
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("../img/lion.jpg");
    text-shadow: 1px 1px 1px black,
                1px -1px 1px black,
                -1px 1px 1px black,
                -1px -1px 1px black;
}
a {color: darkcyan;}
#sonstigesRainbow {background-size: cover;
    color: white;
    background-repeat: no-repeat;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("../img/Rainbow.jpg");
    text-shadow: 1px 1px 1px black,
                1px -1px 1px black,
                -1px 1px 1px black,
                -1px -1px 1px black;
}
#overwatchMain {background-size: cover;
    color: white;
    background-repeat: no-repeat;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 1px black,
    1px -1px 1px black,
    -1px 1px 1px black,
    -1px -1px 1px black;
    background-image: url("../img/maxresdefault.jpg");
}
#linkO {color: orangered;}
#overwatchHaupt {background-size: cover;
    color: white;
    background-repeat: no-repeat;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 1px black,
    1px -1px 1px black,
    -1px 1px 1px black,
    -1px -1px 1px black;
    background-image: url("../img/overwatch_theme.jpg");
}
#overwatchAllgemein {background-size: cover;
    color: white;
    background-repeat: no-repeat;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 1px black,
    1px -1px 1px black,
    -1px 1px 1px black,
    -1px -1px 1px black;
    background-image: url("../img/overwatch_logo.jpg");
}
#fallguysmainpage {background-size: cover;
    color: white;
    background-repeat: no-repeat;
    background-color: pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 1px black,
    1px -1px 1px black,
    -1px 1px 1px black,
    -1px -1px 1px black;
    background-image: url("../img/fallguys_hintergrund.jpg")
}
#fallguysrest {background-size: cover;
    color: white;
    background-repeat: no-repeat;
    background-color: pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 1px black,
    1px -1px 1px black,
    -1px 1px 1px black,
    -1px -1px 1px black;
    background-image:url("../img/fallguysbackground.jpg");
}
a:link, a:visited {
        background-color:  #d35400;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 5px;
}
      a:hover, a:active {
        background-color: white;
}